<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="204800" executionTimeout="3600"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<httpModules>
			<add name="ServiceAnonymityModule" type="WcfRestContrib.Web.ServiceAnonymityModule, WcfRestContrib, Version=1.0.0.0, Culture=neutral"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules>
			<remove name="ServiceAnonymityModule"/>
			<add name="ServiceAnonymityModule" type="WcfRestContrib.Web.ServiceAnonymityModule, WcfRestContrib, Version=1.0.0.0, Culture=neutral"/>
		</modules>
	</system.webServer>
	<system.diagnostics>
		<sources>
			<!--<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\Temp\WcfRestContribErrors.log" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\Temp\WcfRestContribMessages.log" />
        </listeners>
      </source>  -->
		</sources>
		<trace autoflush="true"/>
	</system.diagnostics>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="webAuthentication" type="WcfRestContrib.ServiceModel.Configuration.WebAuthentication.BehaviorElement, WcfRestContrib"/>
				<add name="errorHandler" type="WcfRestContrib.ServiceModel.Configuration.ErrorHandler.BehaviorElement, WcfRestContrib"/>
				<add name="webFormatter" type="WcfRestContrib.ServiceModel.Configuration.WebDispatchFormatter.BehaviorElement, WcfRestContrib"/>
				<add name="webErrorHandler" type="WcfRestContrib.ServiceModel.Configuration.WebErrorHandler.BehaviorElement, WcfRestContrib"/>
        <add name="dependencyInjection" type="WcfRestContrib.ServiceModel.Configuration.DependencyInjection.BehaviorElement, WcfRestContrib"/>
      </behaviorExtensions>
		</extensions>
		<bindings>
			<customBinding>
				<binding name="HttpStreamedRest">
					<httpTransport maxReceivedMessageSize="209715200" manualAddressing="true"/>
				</binding>
				<binding name="HttpsStreamedRest">
					<httpsTransport maxReceivedMessageSize="209715200" manualAddressing="true"/>
				</binding>
			</customBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Rest">
          <dependencyInjection objectFactoryType="NielsBohrLibrary.Runtime.ObjectFactory, NielsBohrLibrary" />
					<webAuthentication requireSecureTransport="false" authenticationHandlerType="WcfRestContrib.ServiceModel.Dispatcher.WebBasicAuthenticationHandler, WcfRestContrib" usernamePasswordValidatorType="NielsBohrLibrary.Runtime.SecurityValidator, NielsBohrLibrary" source="Niels Bohr Library"/>
					<webFormatter>
						<formatters defaultMimeType="application/xml">
							<formatter mimeTypes="application/xml,text/xml" type="WcfRestContrib.ServiceModel.Dispatcher.Formatters.PoxDataContract, WcfRestContrib"/>
							<formatter mimeTypes="application/json" type="WcfRestContrib.ServiceModel.Dispatcher.Formatters.DataContractJson, WcfRestContrib"/>
							<formatter mimeTypes="application/x-www-form-urlencoded" type="WcfRestContrib.ServiceModel.Dispatcher.Formatters.FormUrlEncoded, WcfRestContrib"/>
						</formatters>
					</webFormatter>
					<errorHandler errorHandlerType="WcfRestContrib.ServiceModel.Web.WebErrorHandler, WcfRestContrib"/>
					<webErrorHandler returnRawException="true" logHandlerType="NielsBohrLibrary.Runtime.LogHandler, NielsBohrLibrary" unhandledErrorMessage="An error has occured processing your request. Please contact technical support for further assistance."/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
